# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyd

# Virtual environments
.venv/
venv/
ENV/
env/

# Editor configs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build
build/
dist/
*.egg-info/

# Cache
.pytest_cache/
.mypy_cache/

# Temp
.tmp.driveupload/

# Environment variables
.env
.env.*

# Package managers
pip-wheel-metadata/

# Coverage
.coverage
coverage.xml
htmlcov/

# JetBrains
*.iml

# Others
*.sqlite3
